$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1800px;




$whiteColor: #ffffff;
$defaultText: #333333;
$orangeColor: #fec015;
$yellowColor: #fcde84;
$lightBlue: #72ccd4;
$redColor: #d02052;
$greyColor: #7e7e7e;
$blackColor: #000000;

$primary: #d02052;


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1280px
) !default;