.main-screen {
  height: 605px;
  background: url('../img/main-screen-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  @media (max-width: $breakpoint-lg) {
    height: 400px;
  }
  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    & .btn {
      border: 3px solid $whiteColor;
      &:hover {
        border: 3px solid $whiteColor;
      }
    }
  }
  &__illustration {
    position: absolute;
    bottom: 0;
    left: 5%;
    @media (max-width: 1600px) {
      left: 0;
      width: 400px;
    }
    @media (max-width: $breakpoint-xl) {
      width: 300px;
    }
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
    & img {
      @include defaultIcon(contain);
    }
  }
  &__logo {
    margin-bottom: 30px;
    @media (max-width: $breakpoint-xl) {
      & img {
        @include defaultIcon(contain);
      }
    }
  }
}

.about {
  padding: 25px 0 70px 0;
  & .row {
    text-align: center
  }
  &-icon {
    width: 270px;
    margin: 0 auto 0px auto;
  }
  &-title {
    font-size: 48px;
    font-weight: 700;
    color: $redColor;
    text-transform: uppercase;
    margin-bottom: 30px;
    @media (max-width: $breakpoint-xl) {
      font-size: 34px;
      margin-bottom: 20px;
    }
    @media (max-width: $breakpoint-lg) {
      font-size: 30px;
      margin-bottom: 16px;
    }
    @media (max-width: $breakpoint-md) {
      font-size: 22px;
    }
  }
  &-description {
    color: $greyColor;
    width: 80%;
    margin: 0 auto 80px auto;
    @media (max-width: $breakpoint-xl) {
      font-size: 18px;
      margin: 0 auto 50px auto;
    }
    @media (max-width: $breakpoint-lg) {
      font-size: 16px;
      margin: 0 auto 30px auto;
      width: 100%;
    }
  }
  & .btn {
    margin: 0 auto;
  }
}

.info {
  margin-bottom: 110px;
  @media (max-width: $breakpoint-lg) {
    margin-bottom: 60px;
  }
  @media (max-width: $breakpoint-md) {
    margin-bottom: 40px;
  }
  &-row {
    background: $orangeColor;
    height: 600px;
    position: relative;
    @media (min-width: 2000px) {
      height: 700px;
    }
    @media (max-width: $breakpoint-xl) {
      height: 400px;
    }
    @media (max-width: $breakpoint-lg) {
      height: auto;
    }
    &:nth-child(even) {
      background: $yellowColor;
      & .info-row__inner {
        flex-direction: row-reverse;
        @media (max-width: $breakpoint-lg) {
          flex-direction: column;
        }
      }
      & .info-text {
        padding: 50px 15% 50px 90px;
        text-align: right;
        @media (min-width: 2000px) {
          padding: 80px 20% 80px 90px;
        }
        @media (max-width: $breakpoint-xl) {
          padding: 30px;
        }
        @media (max-width: $breakpoint-lg) {
          padding: 30px 15px;
          text-align: center;
        }
        & a {
          margin-left: auto;
        }
      }
    }
    &__inner {
      display: flex;
      @media (max-width: $breakpoint-lg) {
        flex-direction: column;
      }
    }
    &.info-row-wide {
      background: unset;
      & .info-row__inner {
        position: relative;
      }
      & .info-image {
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        & img {
          object-fit: cover;
          object-position: center;
        }
        @media (max-width: $breakpoint-lg) {
          position: static;
        }
      }
      & .info-text {
        background: $lightBlue;
        & h2 {
          color: $whiteColor;
          line-height: 1;
        }
        & p {
          color: $whiteColor;
        }
      }
    }
    &.info-row-no-image {
      & .info-row__inner {
        flex-direction: row;
        @media (max-width: $breakpoint-lg) {
          flex-direction: column;
        }
        & .info-text:first-child {
          // padding: 50px 90px 50px 15%;
          padding: 50px 90px 50px 15%;
          background: $orangeColor;
          text-align: center;
          @media (min-width: 2000px) {
            padding: 80px 90px 80px 20%;
          }
          @media (max-width: $breakpoint-xl) {
            padding: 30px;
          }
          @media (max-width: $breakpoint-lg) {
            padding: 30px 15px;
            // text-align: center;
          }
          & .btn {
            margin: 0 auto;
            @media (max-width: $breakpoint-lg) {
              // margin: 0 auto;
            }
          }
        }
        & .info-text:last-child {
          padding: 50px 15% 50px 90px;
          text-align: center;
          @media (min-width: 2000px) {
            padding: 80px 20% 80px 90px;
          }
          @media (max-width: $breakpoint-xl) {
            padding: 30px;
          }
          @media (max-width: $breakpoint-lg) {
            padding: 30px 15px;
            // text-align: center;
          }
          & .btn {
            margin: 0 auto;
            @media (max-width: $breakpoint-lg) {
              // margin: 0 auto;
            }
          }
        }
      }
      & .info-text {
        background: $yellowColor;
        width: 50%;
        text-align: center;
        @media (max-width: $breakpoint-lg) {
          width: 100%;
        }
        & .btn {
          margin: 0 auto;
        }
      }
    }
  }
  &-text {
    width: 55%;
    padding: 50px 90px 50px 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 2000px) {
      padding: 80px 90px 80px 20%;
    }
    @media (max-width: $breakpoint-xl) {
      padding: 30px;
    }
    @media (max-width: $breakpoint-lg) {
      width: 100%;
      text-align: center;
      padding: 30px 15px;
      & a {
        margin: 0 auto;
      }
    }
    & h2 {
      font-family: 'BalloonBT', sans-serif;
      line-height: 1.3;
      font-size: 40px;
      color: $redColor;
      margin-bottom: 35px;
      @media (max-width: $breakpoint-xl) {
        font-size: 32px;
        margin-bottom: 25px;
      }
      @media (max-width: $breakpoint-lg) {
        font-size: 26px;
      }
    }
    & p {
      margin-bottom: 60px;
      font-size: 21px;
      @media (max-width: $breakpoint-xl) {
        font-size: 16px;
        margin-bottom: 30px;
      }
    }
  }
  &-image {
    width: 45%;
    @media (max-width: $breakpoint-lg) {
      width: 100%;
      display: none;
    }
    & img {
      object-position: left;
      @include defaultIcon(cover);
    }
  }
}

.contact {
  margin-bottom: 200px;
  @media (max-width: $breakpoint-lg) {
    margin-bottom: 100px;
  }
  &-title {
    font-size: 40px;
    color: $redColor;
    font-family: 'BalloonBT', sans-serif;
    text-align: center;
    margin-bottom: 50px;
    @media (max-width: $breakpoint-lg) {
      margin-bottom: 30px;
      font-size: 32px;
    }
    @media (max-width: $breakpoint-md) {
      font-size: 26px;
      margin-bottom: 20px;
    }
  }
  &-subtitle {
    color: #9b9b9b;
    font-size: 21px;
    text-align: center;
    margin-bottom: 90px;
    @media (max-width: $breakpoint-lg) {
      margin-bottom: 50px;
      font-size: 18px;
    }
    @media (max-width: $breakpoint-md) {
      font-size: 17px;
      margin-bottom: 30px;
    }
  }
  &-form {
    & label {
      font-size: 12px;
      & span {
        color: $redColor;
      }
    }
    & .btn {
      margin: 0 auto;
    }
    & input, & textarea {
      background: #f9f9f9;
      border-radius: 2px;
      font-family: inherit;
      font-size: 14px;
      &:focus {
        // border-color: rgba(254, 192, 21, .5);
        // box-shadow: 0 0 0 0.25rem rgba(254, 192, 21, .5);
      }
    }
  }
}


.scroll-to-contact.btn {
  position: fixed;
  right: 0;
  top: calc(50% - 90px);
  background: $redColor;
  box-shadow: none;
  width: unset;
  height: unset;
  border-radius: 0;
  writing-mode: tb;
  height: 190px;
  width: 45px;
  padding: 0;
  font-size: 17px;
  transform: rotate(180deg);
  z-index: 101;
  @media (max-width: $breakpoint-lg) {
    font-size: 16px;
    top: 200px;
    // display: none;
    // position: absolute;
    top: 400px;
  }
  @media (max-width: $breakpoint-md) {
    font-size: 14px;
    height: 160px;
    width: 36px;
    // top: 80%;
  }
}


.scrollToTopBtn {
  color: white;
  border: none;
  cursor: pointer;
  width: 70px;
  height: 100px;
  background: $redColor;
  position: fixed;
  bottom: 0;
  right: 12%;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
  outline: none;
  @media (max-width: $breakpoint-lg) {
    position: absolute;
    right: 5%;
  }
  & span {
    display: block;
    color: #fff;
    font-size: 40px;
    transform: translate(0, 0) rotate(-90deg);
    padding-left: 20px;
    @include transition(.3);
  }
  &:hover {
    & span {
      transform: translate(0, -8px) rotate(-90deg);
    }
  }
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}